html{
    font-family: sans-serif;
}

section{
    display: flex;
    height: 90vh;
}

/*CSS DELLA SIDE BAR DI SPOTIFY*/
.side-bar{
    display: flex;
    width: 30%;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logoandmenu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-self: flex-start;
}



.title{
    display: none;
    color: white;
    font-size: 2rem;
}


.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.menu-2{
    display: flex;
    gap: 15px;
}

.menu-2 img{
    color: lightslategray;
}


.sottomenu{
    display: none;
    color: white;
    font-size: 22px;
}

.playlist{
    display: none;
    color: white;
    justify-content: flex-start;
    padding-left: 12px;
    
}

.playlist ul{
    list-style: none;
}

.crea--playlist{
    display: flex;
    gap: 10px;
    color: lightslategray;
}

.crea--playlist i{
    background-color: lightslategray;
    color: black;
    padding: 12px;
}

.crea--playlist span{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.user-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.installa-app{
    display: none;
    color: lightslategray;
}

.profile{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.profile img{
    border-radius: 50%;
    background-color: gray;
}

.john-doe{
    display: none;
    color: white;
    font-size: 20px;
}

hr{
    display: none;
}

/*HOVER EFFETTI*/
.crea--playlist :hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.playlist ul :hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.menu-2 :hover{
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}

.download :hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.profile :hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.btn-upgrade :hover{
    transform: scale(1.1);
    cursor: pointer;
}

.home-list :hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
    text-decoration: underline;

}

.heart-folder :hover{
    color: white;
    cursor: pointer;
}

/*CSS DELLA HOME PAGE DI SPOTIFY*/

.home-page{
    width: 100%;
    background-color: #141922;
}

.header{
    width: 100%;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(9, 11, 18, 0.7);
}

.btn-upgrade{
    display: flex;
    justify-content: flex-end;
    padding: 30px;   
}

.btn-upgrade a{
    color: white;
    border-radius: 30px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: solid;
    border: 1px solid white;
}

.home-page{
    overflow-y: auto;
}


.home-page-menus ul{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    justify-content: center;
    
}

.home-page-menus a{
    color: lightslategray;
    text-decoration: none;
}


.home-page--music{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.recently-played-text{
    color: white;
    padding-top: 10px;
}

.recently-played-text p{
    color: lightslategray;
    padding-top: 10px;
}

.recently-played-music{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.song-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
}

.song-text h4{
    color: white;
    align-self: center;
    text-align: center;
}

.song-text p{
    color: lightslategray;
    align-self: center;
}

.artist-images{
    border-radius: 50%;
}






/*CSS DEL "FOOTER" DI SPOTIFY, LA CANZONE IN RIPRODUZIONE*/

.play{
    height: 10vh;
    width: 100%;
    background-color: #272727;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.sinister img{
    float: left;
    
}

.sinister strong{
    margin-left: 5px;
}

.sinister span{
    margin-left: 5px;
}

.sinister{
    display: flex;
    align-items: center;
    gap: 20px;

}

.heart-folder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: lightslategray;
    
}

.riproduzione{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.riproduzione--icons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu--icons{
    display: flex;
    gap: 10px;
}

.fa-play{
    border: 3px solid white;
    padding: 5px;
    text-align: center;
    border-radius: 50%;

}


.song-bar{
    border: 1px solid lightslategray;
    background-color: lightslategray;
}

.song-bar-2{
    border: 1px solid white;
    width: 30%;
}

.volum-bar{
    border: 1px solid lightslategray;
    background-color: lightslategray;
    width: 100px;
    height: 1px;
    align-self: center;
    
}

.volum-bar-2{
    border: 1px solid white;
    width: 50%;
}




