html{
    font-family: sans-serif;
}

.side-bar{
    display: flex;
    width: 100px;
    height: 1000px;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}


.menu{
    display: flex;
    flex-direction: column;
}

.playlist{
    display: none;
}


.profile{
    border-radius: 50%;
    background-color: gray;
}





.play{
    height: 150px;
    background-color: rgb(87, 82, 82);
    color: white;
}

.sinister{
    padding: 30px;
}

.sinister img{
    float: left;
    
    

}